body {
           
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}
.container {
    background-color:lightpink;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
}
.message {
    font-size: 14px;
    color: red;
    margin-top: 10px;
}
.output {
    font-size: 16px;
    margin-top: 10px;
    color: black;
}
.output span {
    font-weight: bold;
}